<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.egg.springboot_egg.mapper.ChatMessageMapper">-->

<!--    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
<!--    <resultMap id="BaseResultMap" type="com.egg.springboot_egg.entity.ChatMessage">-->
<!--        <id column="id" property="id" />-->
<!--        <result column="from_user_id" property="fromUserId" />-->
<!--        <result column="to_user_id" property="toUserId" />-->
<!--        <result column="content" property="content" />-->
<!--        <result column="create_time" property="createTime" />-->
<!--    </resultMap>-->

<!--    &lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
<!--    <sql id="Base_Column_List">-->
<!--        id, from_user_id, to_user_id, content, create_time-->
<!--    </sql>-->

<!--</mapper>-->
